{% extends 'front.html.twig' %}

{% block title %}Projet: {{ project.nom }}{% endblock %}

{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="container mt-8">
                <div class="row">
                    <div class="col-8">
                        <h3>{{project.nom}}</h3>

                        <a class="btn btn-sm btn-outline-warning mt-2 mb-2" href="">Je me lance !</a>
                        {{ project.description }}
                    </div>
                    <div class="col-4 text-center">
                        <img class="img-fluid" src="{{asset('img/'~project.photo)}}" alt="">

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr>
                        <h4>Padawans</h4>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-1">
                        <img class="img-fluid rounded-circle" src="img/charlie-ico.jpg" alt="">
                        <h6>Charlie</h6>
                        <p><a class="btn btn-outline-info btn-sm" href="#" role="button">Github</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-1">
                        <img class="img-fluid rounded-circle" src="img/fanch-ico.jpg" alt="">
                        <h6>Charlie</h6>
                        <p><a class="btn btn-outline-info btn-sm" href="#" role="button">Github</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-1">
                        <img class="img-fluid rounded-circle" src="img/marie-ico.jpg" alt="">
                        <h6>Marie</h6>
                        <p><a class="btn btn-outline-info btn-sm" href="#" role="button">Github</a></p>
                    </div><!-- /.col-lg-4 -->
                </div>

            </div>



        </div>
        </div>
    </main>

{% endblock content %}